{% extends "machines/index.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col-lg text-center">
        <img src="{% static 'media/tool.jpg' %}" alt="Tool Image" class="img-fluid rounded" width="500" height="auto">
    </div>
    <div class="row justify-content-center">
        <div class="col-lg">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header ">
                    {% if perms.tools_assembly.change_toolassembly %}
                    <h4 class="text-end mt-4">
                    <a class="btn btn-secondary btn-sm mt-1 mb-1 " href="{% url 'tool-assembly-update' object.id %}">{% trans "Edit" %}</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1 " href="{% url 'tool-assembly-delete' object.id %}">{% trans "Delete" %}</a>
                    </h4>
                    {% endif %}
                </div>
                <div class="content-section">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col">
                                <strong>{% trans "Tool assembly nr: " %}</strong> {{ object.tool_nr }}
                            </div>
                            <div class="col">
                                <strong>{% trans "Radius: " %}</strong> {{ object.radius }}
                            </div>
                            <div class="col">
                                <strong>{% trans "Total length: " %}</strong> {{ object.total_length }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <strong>{% trans "Outside holder: " %}</strong> {{ object.outside_holder }}
                            </div>
                            <div class="col">
                                <strong>{% trans "Machine" %}</strong> {{ object.machine }}
                            </div>
                            <div class="col">
                                <strong>{% trans "Holder type: " %}</strong> {{ object.holder.get_holder_type_display }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <strong>{% trans "Tool type: " %}</strong> {{ object.tool.get_tool_type_display }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header ">
                    <h4 class="text">{% trans "Comments" %}</h4>
                </div>
                <div class="content-section">
                    <div class="card-body">
                        <div class="row mb-3">
                            <form method="post" action="{% url 'add-comment' object.pk %}">
                                <a class="row mb-3">
                                <button type="submit" class="btn btn-secondary btn-sm mt-1 mb-1">{% trans "Add comment" %}</button>
                                </a>
                                <div class="row mb-3">
                                    {% csrf_token %}
                                    {{ comment_form.content }}
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row mb-3">
                            {% for comment in object.get_comments %}
                                <article class="media content-section">
                                    <div class="media-body">
                                        <div class="article-metadata">
                                            <a class="mr-2" href="{% url 'profile' %}">{{ comment.author }}</a>
                                            <small class="text-muted">{{ comment.date_posted }}</small>
                                        </div>
                                        <p class="article-content"><i>{{ comment.content }}</i></p>
                                    </div>
                                </article>
                            {% endfor %}
                            {% if page_obj.has_previous %}
                                <div class="col-md-12 mb-4">
                                    <a class="btn btn-outline-info" href="?page=1">First</a>
                                    <a class="btn btn-outline-info" href="?page={{ page_obj.previous_page_number }}">{% trans "Previous" %}</a>
                                </div>
                            {% endif %}
                            <div class="col-md-12 mb-4">
                                {% for num in page_obj.paginator.page_range %}
                                    {% if page_obj.number == num %}
                                        <a class="btn btn-info" href="?page={{ num }}">{{ num }}</a>
                                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                        <a class="btn btn-outline-info" href="?page={{ num }}">{{ num }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% if page_obj.has_next %}
                                <div class="col-md-12 mb-4">
                                    <a class="btn btn-outline-info" href="?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a>
                                    <a class="btn btn-outline-info" href="?page={{ page_obj.paginator.num_pages }}">{% trans "Last" %}</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
