{% extends "machines/index.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col-lg text-center">
        <img src="{% static 'media/tool.jpg' %}" alt="Tool Image" class="img-fluid rounded" width="500" height="auto">
    </div>
    <div class="row justify-content-center">
        <div class="col-lg">
            {% if perms.tools_assembly.add_toolassembly %}
            <div class="text-end mb-3">
                <a class="btn btn-secondary btn-md mt-5 mb-0" href="{% url 'tool-assembly-create' %}">{% blocktrans %} Add new tool assembly {% endblocktrans %}</a>
            </div>
            {% endif %}
            <div class="card shadow-lg border-0 rounded-lg mt-3">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        {% blocktrans %} Table of tools assembly {% endblocktrans %}
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>{% blocktrans %} Tool assembly nr {% endblocktrans %}</th>
                                    <th>{% blocktrans %} Radius {% endblocktrans %}</th>
                                    <th>{% blocktrans %} Total length {% endblocktrans %}</th>
                                    <th>{% blocktrans %} Outside holder {% endblocktrans %}</th>
                                    <th>{% blocktrans %} Machine {% endblocktrans %}</th>
                                    <th>{% blocktrans %} Holder type {% endblocktrans %}</th>
                                    <th>{% blocktrans %} Tool type {% endblocktrans %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for tool_assembly in object_list %}
                                <tr>
                                    <td><a href="{% url 'tool-assembly-detail' tool_assembly.pk %}">{{ tool_assembly.tool_nr }}</a></td>
                                    <td>{{ tool_assembly.radius }}</td>
                                    <td>{{ tool_assembly.total_length }}</td>
                                    <td>{{ tool_assembly.outside_holder }}</td>
                                    <td>{{ tool_assembly.machine.name }}</td>
                                    <td>{{ tool_assembly.holder.get_holder_type_display }}</td>
                                    <td>{{ tool_assembly.tool.get_tool_type_display }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#tool_assembly').DataTable({
        "paging": true,
        "ordering": true,
        "info": true
    });
});
</script>
{% endblock content %}
