{% extends "machines/index.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col-lg text-center">
        <img src="{% static 'media/tool.jpg' %}" alt="Tool Image" class="img-fluid rounded" width="500" height="auto">
    </div>
    <div class="row justify-content-center">
        <div class="col-lg">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-left font-weight-light my-4">{% blocktrans %} Holder data: {{ object.get_holder_type_display }}, inner diameter: {{ object.inner_diameter }} mm {% endblocktrans %}</h3>
                    {% if perms.tools_assembly.change_holder %}
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'holder-update' object.id %}">{% trans "Edit" %}</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'holder-delete' object.id %}">{% trans "Delete" %}</a>
                    {% endif %}
                </div>
                <div class="content-section">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col">
                                <strong>{% trans "Holder type" %}</strong> {{ object.get_holder_type_display }}
                            </div>
                            <div class="col">
                                <strong>{% trans "Catalog number" %}</strong> {{ object.catalog_nr }}
                            </div>
                            <div class="col">
                                <strong>{% trans "Inner diameter" %}</strong> {{ object.inner_diameter }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <strong>LH1:</strong> {{ object.LH1 }}
                            </div>
                            <div class="col">
                                <strong>LH2:</strong> {{ object.LH2 }}
                            </div>
                            <div class="col">
                                <strong>LH3:</strong> {{ object.LH3 }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <strong>DH1 A:</strong> {{ object.DH1_A }}
                            </div>
                            <div class="col">
                                <strong>DH2:</strong> {{ object.DH2 }}
                            </div>
                            <div class="col">
                                <strong>DH3:</strong> {{ object.DH3 }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <strong>DH1 B:</strong> {{ object.DH1_B }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
