{% extends "machines/index.html" %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="container-fluid px-4">
        <h4 class="mt-4 text-end">{{ machine.name }}
            {% if perms.machines.change_machine %}
                {% if perms.machines.add_machine %}
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'machine-update' object.id %}">{% trans "Edit" %}</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'machine-delete' object.id %}">{% trans "Delete" %}</a>
                {% endif %}
            {% endif %}
        </h4>
        <div class="row-md-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        {% trans "Description" %}
                    </div>
                    <div class="card-body">{{ machine.description|linebreaksbr }}</div>
                </div>
        </div>
       <div class="text-end mb-3">
            <style>
                .custom-icon {
                    font-size: 40px;
                    color: #6c757d;
                    margin: 10px;
                }
            </style>
            <a href="{% url 'generate-csv' %}" class="custom-icon">
                <i class="fa-solid fa-file-csv"></i></a>
            <a href="{% url 'generate-pdf' %}" class="custom-icon">
                <i class="fa-solid fa-file-pdf"></i></a>
        </div>
        <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        {% trans "Tool table" %}
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>{% trans "Tool nr" %}</th>
                                    <th>{% trans "Radius" %}</th>
                                    <th>{% trans "Total length" %}</th>
                                    <th>{% trans "Outside holder" %}</th>
                                    <th>{% trans "Holder type" %}</th>
                                    <th>{% trans "Tool type" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for tool_assembly in machine.tools.all %}
                            <tr>
                                <td><a href="{% url 'tool-assembly-detail' tool_assembly.pk %}"/>{{ tool_assembly.tool_nr }}</td>
                                <td>{{ tool_assembly.radius }}</td>
                                <td>{{ tool_assembly.total_length }}</td>
                                <td>{{ tool_assembly.outside_holder }}</td>
                                <td>{{ tool_assembly.holder.get_holder_type_display }}</td>
                                <td>{{ tool_assembly.tool.get_tool_type_display }}</td>
                            </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
        </div>
    </div>
    <script>
    $(document).ready(function() {
        $('#tool_assembly').DataTable({
            "paging": true,
            "ordering": true,
            "info": true
        });
    });
    </script>
{% endblock content %}
