{% load static %}
{% block content %}
    <div class="container-fluid px-4">
        <h4 class="mt-4 text-end">{{ machine.name }}</h4>


        <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Tabela narzędzi
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>Nr narzędzia</th>
                                    <th>Promień</th>
                                    <th>Długość całkowita</th>
                                    <th>Długość poza oprawką</th>
                                    <th>Typ oprawki</th>
                                    <th>Typ freza</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for tool_assembly in machines %}
                            <tr>
                <td><a href="{% url 'tool-assembly-detail' tool_assembly.tool_number %}"/>{{ tool_assembly.tool_number }}</td>
                                <td>{{ tool_assembly.radius }}</td>
                                <td>{{ tool_assembly.total_length }}</td>
                                <td>{{ tool_assembly.outside_holder }}</td>
                                <td>{{ tool_assembly.holder_type_display }}</td>
                                <td>{{ tool_assembly.tool_type_display }}</td>
                            </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
        </div>
    </div>


    <script>
    $(document).ready(function() {
        $('#tool_assembly').DataTable({
            "paging": true,
            "ordering": true,
            "info": true
        });
    });
    </script>
{% endblock %}

