{% extends 'machines/index.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col-lg text-center">
        <img src="{% static 'media/tool.jpg' %}" alt="Tool Image" class="img-fluid rounded" style="max-width: 700px;">
    </div>
    <div class="row justify-content-center">
        <div class="col-lg">
            <div class="text-end mb-3">
                <a class="btn btn-secondary btn-md mt-5 mb-0" href="{% url 'tool-create' %}">Dodaj frez</a>
            </div>
            <div class="card shadow-lg border-0 rounded-lg mt-3">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Tabela frezów
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>Typ freza</th>
                                    <th>Nr katalogowy</th>
                                    <th>R</th>
                                    <th>L1</th>
                                    <th>D1</th>
                                    <th>L2</th>
                                    <th>D2</th>
                                    <th>L3</th>
                                    <th>D3</th>
                                    <th>L4</th>
                                    <th>D4</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for tool in object_list %}
                                <tr>
                                    <td><a href="{% url 'tool-detail' tool.pk %}">{{ tool.get_tool_type_display }}</a></td>
                                    <td>{{ tool.catalog_nr }}</td>
                                    <td>{{ tool.R }}</td>
                                    <td>{{ tool.L1 }}</td>
                                    <td>{{ tool.D1 }}</td>
                                    <td>{{ tool.L2 }}</td>
                                    <td>{{ tool.D2 }}</td>
                                    <td>{{ tool.L3 }}</td>
                                    <td>{{ tool.D3 }}</td>
                                    <td>{{ tool.L4 }}</td>
                                    <td>{{ tool.D4 }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#toolTable').DataTable({
        "paging": true,
        "ordering": true,
        "info": true
    });
});
</script>
{% endblock %}
