{% extends 'machines/index.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col-lg text-center">
        <img src="{% static 'media/tool.jpg' %}" alt="Tool Image" class="img-fluid rounded" style="max-width: 600px;">
    </div>
    <div class="row justify-content-center">
        <div class="col-lg">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header ">
                    <h4 class="text-end mt-4">
                    <a class="btn btn-secondary btn-sm mt-1 mb-1 " href="{% url 'tool-assembly-update' object.id %}">Edytuj</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1 " href="{% url 'tool-assembly-delete' object.id %}">Usuń</a>
                    </h4>
                </div>
                <div class="content-section">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col">
                                <strong>Numer narzędzia:</strong> {{ object.tool_nr }}
                            </div>
                            <div class="col">
                                <strong>Promień:</strong> {{ object.radius }}
                            </div>
                            <div class="col">
                                <strong>Długość całkowita:</strong> {{ object.total_length }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <strong>Poza oprawką:</strong> {{ object.outside_holder }}
                            </div>
                            <div class="col">
                                <strong>Maszyna:</strong> {{ object.machine }}
                            </div>
                            <div class="col">
                                <strong>Oprawka:</strong> {{ object.holder.get_holder_type_display }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <strong>Typ narzędzia:</strong> {{ object.tool.get_tool_type_display }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
